---
BasedOnStyle: Microsoft
Language: Cpp

UseTab: Never
TabWidth: 2
IndentWidth: 2
ColumnLimit: 80
MaxEmptyLinesToKeep: 2
AccessModifierOffset: -4
NamespaceIndentation: All
FixNamespaceComments: false
BreakBeforeBraces: Linux
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
IndentCaseLabels: true
SortIncludes: Never
AlignConsecutiveMacros: AcrossEmptyLines
AlignConsecutiveAssignments: Consecutive
